body {
  background: black;
  color: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.App {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, black); /* Standard syntax */
  height: 100%;
}

.Content {
  text-align: center;
  padding: 5px;
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
}

.App-title {
  font-size: 50px;
  margin-bottom: 15px;
}

/* Search */

.search {
  height: 50px;
  border-radius: 25px;
  padding-left: 30px;;
}

.search-button {
  border-radius: 25px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.search-button:hover {
  background-color: #dddddd;
}

.banner {
  top: 0;
  width: 100%;
  display: flex;
  padding: 10px 30px;
}

.banner-left {
  width: 82%;
}

.Recorder {
  top: 0;
  width: 300px;
  border-radius: 20px;
  border: 3px inset black;
}

/* Header */
.Header {
  padding: 20px 50px;
  display: flex;
  flex-direction: row-reverse;
}

#user-img {
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 0px 50px -5px black;
}

#user-name {
  margin-right: 20px;
  margin-top: 20px;
}

/* Profiles */
.profile {
  display: flex;
  justify-content: center;
}

.profile-info {
  margin-left: 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 75px;
  object-fit: cover;
  margin: 20px;
}

.profile-name {
  font-size: 35px;
}

.profile-followers, .profile-genres {
  font-size: 18px;
}

/* Gallery */
.track {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  position: relative;
  cursor: pointer;
}

.track-img {
  width: 220px;
  height: 220px;
  border: 3px solid white;
  border-radius: 3px;
  object-fit: cover;
  position: absolute;
}

.track-text {
  background: black;
  color: white;
  opacity: 0.75;
  width: 214px;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.track-play {
  position: absolute;
  width: 220px;
  height: 220px;
}

.track-play-inner {
  position: absolute;
  text-align: center;
  font-size: 25px;
  background: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  padding-top: 13px;
  margin-left: 80px;
  margin-top: 80px;
  opacity: 0;
}

.track-play-inner:hover {
  opacity: 0.8;
  animation-name: fade-in;
  animation-duration: 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}


/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/


/* Player */
.Player {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 90px;
  background: #383838;
  display: flex;
  box-shadow: 0px -3px 30px black;
}

/* Song */
.Song {
  margin: 15px 20px 0 20px;
  display: flex;
  width: 20%;
}

#song-img {
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

#song-info {
  margin-top: 5px;
}

#song-artist {
  margin-top: 2px;
  font-size: 11px;
}

#sync {
  margin-left: 30px;
  margin-top: 15px;
  color: #a8a8a8;
  transition-duration: 0.2s;
  cursor: pointer;
  font-size: 20px;
}

#sync:hover {
  color: white;
}

/* Controls */
.Controls {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.buttons-holder {
  height: 90%;
  display: flex;
}

.buttons {
  width: 20%;
  height: 100%;
  margin: auto;
  display: flex;
}

.pp-button-holder {
  width: 30%;
  margin: auto;
}

.pp-button-radius, .prev-button-holder, .next-button-holder {
  height: 40px;
  margin: auto;
  cursor: pointer;
  color: #a8a8a8;
  font-size: 17px;
  transition-duration: 0.2s;
}

.pp-button-radius:hover {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid white;
  color: white;
}

.pp-button-radius {
  width: 40px;
  border-radius: 20px;
  display: flex;
  border: 1px solid #a8a8a8;
}

.prev-button-holder, .next-button-holder {
  width: 20%;
  display: flex;
}

.prev-button-holder:hover, .next-button-holder:hover {
  color: white;
}

.pp-button, .next-button, .previous-button {
  margin: auto;
}

.bar-holder {
  height: 30px;
  display: flex;
}

.bar {
  width: 50%;
  height: 10px;
  margin: auto;
  cursor: pointer;
  transition-duration: 0.2s;
  position: relative;
}

.bar:hover {
  height: 20px;
}

#progress,
#progress-button {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

#progress {
  background: white;
  width: 100%;
  top: 20%;
  height: 60%;
  margin: auto;
  border-radius: 10px;
}

#progress-played {
  background: green;
  width: 30%;
  height: 100%;
  border-radius: inherit;
}

#progress-button {
  width: 11px;
  height: 11px;
  top: 0;
  margin-left: 29%;
  background: #ef8913;
  border-radius: 10px;
  z-index: 10;
}

/* Volume */
.Volume {
  right: 0;
  width: 20%;
  display: flex;
}

.volume-holder-holder {
  margin: auto;
  width: 60%;
}

.volume-holder {
  margin: auto;
  font-size: 20px;
  color: #a8a8a8;
  float: left;
  margin-top: 2px;
}

.Volume .bar-holder {
  margin: auto;
  margin-left: 10px;
  width: 80%;
  height: 30px;
  float: left;
}

.volume-slider {
  width: 100%;
  height: 10px;
  margin: auto;
  cursor: pointer;
  transition-duration: 0.2s;
  position: relative;
  background: white;
  border-radius: 10px;
}

.volume-slider:hover {
  height: 20px;
}
